@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff');
}

body {
	font-family: monospace;
}

.circular-book {
  font-family:'Circular Std Book', Helvetica;
}
.circular-med {
  font-family:'Circular Std Medium', Helvetica;
}
.circular-black {
  font-family:'Circular Std Black', Helvetica;
}

.ft-14 {
  font-size: 14px;
}
.ft-16 {
	font-size: 16px;
}
.ft-20 {
	font-size: 20px;
}
.ft-22 {
  font-size: 22px;
}
.ft-24 {
  font-size: 24px;
}
.ft-31 {
	font-size: 31px;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.mt-35 {
	margin-top: 35px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}

.my-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.pink-font {
	color: #DF0070;
}
.yellow-font {
  color: rgba(245, 169, 30, .8);
}

.nav-wrap.not-home {
	background-color: rgb(255, 255, 255, .9);
}
.expanded-nav {
	font-family:'Circular Std Medium', Helvetica;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.headline {
  font-size: 28px;
  padding: 0px 5px;
  text-align: center;
  width: 100%;
}
.description {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 25px;
  padding: 0px 10px;
}
.typed {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 565px;
}
span.typed-cursor {
  position: relative;
  left: -9px;
}
.fixed-width {
  max-width: 820px;
  margin: 0 auto;
}

.black-bg {
	background-color: rgb(0, 0, 0, .9);
	color: #FFF;
}
.transparent-bg {
	background-color: transparent;
	color: #000;
}
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(223, 0, 112, .9);
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: 15px;
  color: #FFF;
}

@media (min-width: 375px) {
  .headline {
    font-size: 31px;
  }
  .description {
    margin-top: 40px;
  }
  .see-work {
    margin-top: 60px;
  }
}

@media (min-width: 660px) {
  .headline {
    font-size: 44px;
  }
  .description {
  	font-size: 20px;
  }
}

@media (min-width: 768px) {
  .headline {
    font-size: 58px;
  }
  .description {
    font-size: 28px;
    margin-top: 60px;
    width: 680px;
  }
  .contact {
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 24px;
    color: #FFF;
  }
}