@font-face {
	font-family: 'Circular Std Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff');
}

body {
	font-family: monospace;
}

.ft-16 {
	font-size: 16px;
}

.ft-31 {
	font-size: 31px;
}

h2 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.mt-35 {
	margin-top: 35px !important;
}

.nav-wrap.not-home {
	background-color: #FFF;
}
.expanded-nav {
	font-family:'Circular Std Medium', Helvetica;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.headline {
  font-size: 28px;
  padding: 0px 5px;
  text-align: center;
  width: 100%;
}
.description {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 25px;
  padding: 0px 10px;
}
.typed {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 490px;
}
span.typed-cursor {
  position: relative;
  left: -9px;
}

.info-block {
	position: relative;
	padding: 40px;
  top: -40px;
}
.info-block p {
	font-size: 16px;
}
.black-bg {
	background-color: #000;
	color: #FFF;
}
.white-bg {
	background-color: #FFF;
	color: #000;
}

.info-block ul li {
	list-style: none;
	font-size: 16px;
}

@media (min-width: 375px) {
  .headline {
    font-size: 31px;
  }
  .description {
    margin-top: 40px;
  }
  .see-work {
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .headline {
    font-size: 52px;
  }
  .description {
    font-size: 24px;
    margin-top: 60px;
    width: 680px;
  }
}